################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SISTEMA LOCADORA DE VEICULOS PIM_3Sem/PIM_LocadoraVeiculos/.vs/PIM_LocadoraVeiculos/v15
